<!DOCTYPE html>
<html lang="sv">
<head>
    <title>Österåker GK, OOM 2022</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>
<body>
    <header>
        <section class="section">
            <div class="container">
              <h1 class="title">
                Österåker GK, OOM 2022
              </h1>
              <p class="subtitle">
                Dessa uppgifter är mannuelt inmatade så fel kan förekomma... <strong>kontakta</strong>!
              </p>
            </div>
          </section>
    </header>

