{{> header.html}}

<main>
    
    <h1>Testpage</h1>

    <p>Welcome to the testpage. Thanks for visiting!</p>
    <div class="buttons">
        <button class="button is-primary is-light">Resultat</button>
    </div>

    <div class="container">
        <div class="notification is-primary">
          This container is <strong>centered</strong> on desktop and larger viewports.
        </div>
      </div>

      <div class="container">
        <div class="buttons">
            <button class="button is-primary is-light">Resultat</button>
        </div>
      </div>

</main>

{{> footer.html}}
