{{> header.html}}

<main>
  

      <div class="container">
        <div class="buttons is-centered">
            <button class="button has-background-link-light has-text-link-dark is-rounded">Senaste tävlingen</button>
            <button class="button has-background-link-light has-text-link-dark is-rounded">Totalt</button>
        </div>
      </div>

      <div class="column">
      </div>

      <div class="columns">
        <div class="column is-2 is-offset-1">
          <div class="field">
            <p class="control has-icons-right">
              <input class="input is-rounded" type="text" placeholder="Sök efter namn">
              <span class="icon is-right">
                <i class="fas fa-search"></i>
              </span>
          </p>
          </div>
        </div>
        <div class="column is-4 is-offset-2">
          <h2 class="subtitle">Premiären — Österåkers GK — 2022.04.23</h2>
        </div>
        <div class="column is-1 is-offset-1">
          <div class="select is-normal is-link">
            <select>
              <option value="" disabled selected>Sortering</option>
              <option>Namn</option>
              <option>Resultat</option>
            </select>
          </div>
        </div>
      </div>


      <div class="column is-10 is-offset-1">
        <div class="table-container">
          <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th><abbr title="placering">Placering</abbr></th>
                <th><abbr title="namn">Namn</abbr></th>
                <th><abbr title="golf-id">Golf-ID</abbr></th>
                <th><abbr title="poäng">Poäng</abbr></th>
                <th><abbr title="total">Total</abbr></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Pelle Pellesson</td>
                <td>000000-000</td>
                <td>23</td>
                <td>223</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Kalle Kula</td>
                <td>111111-111</td>
                <td>21</td>
                <td>113</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Sven Svensson</td>
                <td>222222-222</td>
                <td>18</td>
                <td>186</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Janne Johansson</td>
                <td>333333-333</td>
                <td>17</td>
                <td>93</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Anders Andersson</td>
                <td>444444-444</td>
                <td>15</td>
                <td>147</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Bertil Bertilsson</td>
                <td>555555-555</td>
                <td>12</td>
                <td>117</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Carl Carlsson</td>
                <td>666666-666</td>
                <td>11</td>
                <td>191</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Doris Delfin</td>
                <td>777777-777</td>
                <td>9</td>
                <td>9</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Eskil Eriksson</td>
                <td>888888-888</td>
                <td>7</td>
                <td>122</td>
              </tr>
              <tr>
                <td>10</td>
                <td>Gustav Gurka</td>
                <td>999999-999</td>
                <td>5</td>
                <td>20</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

</main>

{{> footer.html}}
